<!-- feature -->
<section class="section feature mb-0" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Các tính năng</h2>
        <p class="mb-100">HealYou cung cấp 1 loạt
          các giải phát tiên tiến để hỗ
          trợ
          người dùng</p>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-ruler-pencil feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Gợi ý đồ ăn cho khách hàng bằng AI để đặt tới thể trạng mong muốn</h4>
            <p style=" text-align: justify;">Chụp ảnh món ăn hay đặt ra mục tiêu thể trạng mong muốn, HealYou sẽ giúp
              bạn tìm được những món ăn phù hợp.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layout-cta-left feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Kết nối giữa các người dùng</h4>
            <p style=" text-align: justify;">Người dùng có thể chia sẻ thành quả tập luyện của mình lên HealYou để chia
              sẻ với những người dùng khác.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-split-v-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Quản lý sức khỏe</h4>
            <p style=" text-align: justify;">Giúp người dùng quản lý được tình trạng sức khỏe bao gồm: nước, dinh dưỡng
              và giấc ngủ để có một cơ thể khỏe mạnh.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layers-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Hỗ trợ tư vấn dinh dưỡng cá nhân</h4>
            <p style="text-align: justify;">Sử dụng công nghệ AI tiên tiến, tính năng này cung cấp tư vấn dinh dưỡng cá
              nhân hóa dựa trên cơ sở sức khỏe, mục tiêu và ưa thích ăn uống của người dùng. HealYou sẽ phân tích thông
              tin cá nhân của bạn và đề xuất các kế hoạch dinh dưỡng phù hợp nhằm giúp bạn đạt được mục tiêu sức khỏe
              của mình một cách hiệu quả nhất.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="feature-bg-1 up-down-animation" src="images/background-shape/feature-bg-1.png" alt="bg-shape">
  <img class="feature-bg-2 left-right-animation" src="images/background-shape/feature-bg-2.png" alt="bg-shape">
</section>
<!-- /feature -->