<!-- service -->
<style>
  .service li {
      display: flex;
      align-items: center;
  }

  .service-list li i {
      margin-right: 10px;
  }
</style>
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Ứng Dụng Tập Thể Dục Mạnh Mẽ Từ Đầu Đến Cuối</h2>
        <p style=" text-align: justify;" class="mb-4">Với nhu cầu ngày càng tăng
          về sức khỏe và thể chất, ứng dụng tập thể dục của chúng tôi hứa hẹn sẽ
          trở thành trợ thủ đắc lực cho việc rèn luyện sức khỏe và duy trì thói quen
          sống lành mạnh. Ngoài ra, giải pháp của chúng tôi còn tác động tích
          cực đến nhận thức và thói quen tập thể dục hàng ngày, đồng thời nâng cao
          tinh thần thể thao của người dùng, đặc biệt là thế hệ trẻ.
        </p>
        <ul class="pl-0 service-list">
          <li><p style="text-align: justify;"><i
                class="ti-layout-tab-window text-purple"></i>Nâng cao nhận thức
              về tầm quan trọng của việc tập thể dục hàng ngày.</p></li>
          <li>
            <p style="text-align: justify;">
              <i class="ti-layout-placeholder text-purple"></i>Tạo môi trường
              kết nối thông minh cho cộng đồng người yêu thể thao.</p>
          </li>
          <li><p style="text-align: justify;"><i
                class="ti-support text-purple"></i>Đưa ra các bài tập và chương
              trình luyện tập cá nhân hóa cho từng người dùng.</p></li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2 service-image">
        <img class="img-fluid layer-3" src="images/service/service-1st-layer.png"
          alt="service">
        <img class ="img-fluid layer-2" src="images/service/service-2nd-layer.png"
          alt="service-2">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="images/backgrounds/service-bg.png"
    alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation"
    src="images/background-shape/service-half-cycle.png" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation"
    src="images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- /service -->